<template name="private">
    <script>
        
        function onclickPopUp() {
                $('#qnimate').addClass('popup-box-on');
              
            $("#removeClass").click(function () {
                $('#qnimate').removeClass('popup-box-on'); 
            }); 
        }
    </script>

    <div id="wrapper">
        {{> sidebar }}
        <div id="page-content-wrapper">
            <h1>Private Chat</h1>

            {{> popupbox}}
        </div>
    </div>

</template>



<template name="sidebar">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav onlUsers">
            <li class="sidebar-brand">
                <a href="#">
                    Online Users
                </a>
            </li>
            {{#each onlusr}}
            <li class="user">
                <a href='#' onclick="onclickPopUp()">{{username}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="messages">
    {{#each msgs}}
    <strong>{{name}}:</strong> {{text}}
    <br> {{/each}}
</template>

<template name="input">
    <p>Message:
        <input type="text" id="message">
    </p>
</template>