<template name="chatRooms">
  {{> table}}
</template>

<template name="table">
    <div class="container">
      <h2>Chatroom List</h2>
                 
      <table class="table">
        <thead>
          <tr>
            <th>Chatroom</th>
            
            
          </tr>
        </thead>
        <tbody>
          
            {{#each chatRooms}}
          <tr>
            <td><a href="{{pathFor 'chatRoom' _id=_id}}">{{name}}</a></td>
            {{#if canDeleteChatroom }}
            <td><button class="delete-chatRoom">Delete</button></td>
            {{else }}
            <p>You are not autorised to delete</p>
            {{/if}}
            
           
          </tr>
          {{/each}}
            
        </tbody>
      </table>
    </div>
    
    
</template>